{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


    
    <h4>Bienvenu sur Webflix, plateforme de location de films en streaming</h4></br>
    <h2>Les films les plus vues :</h2>
    <div class="mt-5">
        <div class="row">
            {% for film in films %}
                {% include 'blog/card_film.html.twig' %}
            {% endfor %}
        </div>
    </div>
</br>
    <h2>Les nouveautées :</h2>
    <div class="mt-5">
        <div class="row">
            {% for film in films %}
                {% include 'blog/card_film.html.twig' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
