{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}

    <h1>À propos</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aperiam at atque dignissimos ducimus et id ipsa maxime modi nesciunt nisi nostrum, optio quam qui vero voluptatum. Delectus, optio.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur fuga fugiat ipsa iusto nostrum officiis omnis sed sit tenetur! Aspernatur consectetur cumque dolorum eos officiis optio quaerat sunt unde.</p>

{% endblock %}
