{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}

    <h6>A PROPOS DE NOUS</h6>
        <div class="main">

        <p class="text">
            <strong>BIENVENNUE SUR WEBFLIX!</strong><br>
            Votre site de Films et Séries streaming en français et complet.<br>
            Notre mission est d’offrir à nos clients un vaste choix de location de films.

            Notre expérience en la matière nous permet de vous offrir le meilleur rapport qualité prix.<br>
            Si vous cherchez les dernières tendances de films en streaming, vous êtes au bon endroit.
            Nous faisons tout pour répondre à vos envies en vous proposant un excellent service client et assistance. Toutes vos suggestions sont les bienvenues.
            On vous souhaite bonne visite. Assurez vous d'ajouter notre site à votre profil, vos favoris,
            sur les reseaux sociaux, pour vous tenir à jour sur tous les ajouts de films sur notre site.<br>

            Nos clients sont notre priorité!

        </p>
                
        </div>

        <div class="partenaires">

            <h5>Nos partenaires</h5>
                <p class="text2">
                    <strong>WEBFLIX, UN GROUPE WIFLIX ET NETFLIX!</strong><br>
                    Le géant français du streaming vidéo a signé un partenariat avec les distributeurs
                    Wiflix et Netflix.Le poids de webflix est de plus en plus important.<br> D’après l’Arcep, 
                    le groupe représente autour de 23% du trafic total mesuré par les principaux fournisseurs d’accès à internet.
                    La plateforme française signe ici un grand coup, lui permettant ainsi de glisser dans son escarcelle de grands
                    noms du cinéma dû à sa collaboration avec ses partenaires.
                </p>
        </div>

        <div class="main_2">
                
            <img src="{{ asset('images/netflix.jpg') }}" width="400px" height="200px" alt="netflix">
            <img src="{{ asset('images/wiwiflix.jpg') }}" width="400px" height="200px" alt="wiwiflix">
        </div>

        <div class="temoignage">
            <h5>Commentaires clients</h5>
            <strong>Jules</strong><br>14 janvier 2021<br><em>"Votre plateforme de streaming m'a scotché
            la qualité des vidéos est juste au top et les prix sont correctes. Merci!</em>"<br>

            <strong>Louane</strong><br>30 decembre 2021<br><em>"j'adore! Bravo Webflix!"</em>
        </div>

{% endblock %}
