<footer class="footer">


    <div class="footer_mise_en_forme">
        <div class="le_logo">
            <img src="{{ asset('images/webflix.png') }}" width="230px" height="150px" alt="web_webflix">
        </div>
        <div class="informations">
            <strong>INFORMATIONS</strong><br>- Contactez-nous<br>- Aide<br>- Filtre parental
        </div>
        <div class="nos_engagements">
            <strong>ENGAGEMENTS</strong> <br>- Location sécurisé<br>- Meilleurs prix garantis<br>- Contact 7j/7
        </div>
        
        <div class="images">
            <h4>Restez connectés avec nous!</h4>
            <i class="fas fa-envelope"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>
    <br>
    <div class="copyright">
        <i class="far fa-copyright"></i> 2021 Copyright : <strong>Webflix</strong>
    </div>
</footer>
