* {margin:0;
    padding:0;
    box-sizing:0;
}





/* Footer */
.footer {
    background-color: #1d3349;
    margin-top: 50px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    height: 400px;
}

.footer_mise_en_forme {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.copyright {
    display: flex;
    justify-content: center;
    margin: 20px;
}

