{% extends 'base.html.twig' %}

{% block title %}Titre de mon article{% endblock %}

{% block body %}

    <h1>Article {{ id }}</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam consequuntur debitis dolorem eligendi excepturi facilis harum illum ipsam libero nostrum odio possimus quam, quasi, quidem, quos reprehenderit sint voluptate.</p>

{% endblock %}
