{% extends "base.html.twig" %}

{% block title %}Mon Profil{% endblock %}

{% block body %}

    <h1>Mon Profil</h1>

    <div class="mt-5">
        <div class="row">
            {% for article in app.user.articles %}
                {% include 'blog/card_article.html.twig' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
