{% extends "base.html.twig" %}

{% block title %}Mes articles{% endblock %}

{% block body %}

    {% if not is_granted('ROLE_ADMIN') %}
        <a href="{{ path('blog_article_new', { id: 'nouveau' }) }}" class="btn btn-sm btn-outline-primary float-right">
            Nouvel article
        </a>
    {% endif %}

    <h1>Mes articles</h1>

    <div class="mt-5">
        <div class="row">
            {% for article in app.user.articles %}
                {% include 'blog/card_article.html.twig' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
