{% extends 'base.html.twig' %}

{% block title %}Espace Utilisateur{% endblock %}

{% block body %}

    <h1>Espace Utilisateur</h1>

    <a href="{{ path('user_articles') }}" class="btn btn-primary">Mes articles</a>

{% endblock %}
