<header style="font-weight: bold; margin-bottom: 30px;">
    SITE DE VICTOR
    <hr>
</header>

{% block body %}{% endblock %}

<div style="margin-top: 20px;">
    Cordialement, <br>
    Victor.
</div>

<footer style="margin-top: 30px;">
    <hr>
    Les pros du dev !
</footer>
