{% extends "email/base.email.twig" %}

{% block body %}
    Merci de confirmer votre inscription en cliquant sur le lien suivant : <br>
    <a href="{{ link }}">Confirmer mon inscription</a>
{% endblock %}
