{% extends "email/base.email.twig" %}

{% block body %}
    Bonjour {{ membre.nom }},<br>
    Veuillez cliquer sur ce lien pour réinitialiser votre email : <br>
    <a href="{{ link }}">Réinitialiser mon email</a>
{% endblock %}
